body { 
    background-color: #375c7a;
}
h1 {
    color: #fcbb6d;
    background-color: #685d79;
}

ul { 
    list-style-type: none;
    color: white;
}

ul li::before {
    content: "\2022";  
    color: #fcbb6d; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -2em;
}

ol > li {
    font-weight: bold;
    color: white;
}
ol {
    background-color: #d8738f;
}

ol > li:nth-child(4n+1) {
    background-color: #ab6c82;
}
ol > ul:nth-child(4n+2) {
    background-color: #ab6c82;
}

ol > li:nth-child(4n-1) {
    background-color: #685d79;
}
ol > ul:nth-child(4n+0) {
    background-color: #685d79;
}

