body { 
    background-color: #375c7a;
}
h1 {
    color: #fcbb6d;
    background-color: #685d79;
}

/*ul {
    list-style-type: disc;
    color: #A8DADC;
}*/

ul { 
    list-style-type: none;
    color: #a7dadc;
}
ul li::before {
    content: "\2022";  /* \2022 Code/unicode for a bullet */
    color: #E63946; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -2em; /* Also needed for space (tweak if needed) */
}


ul > li:nth-child(odd) {
    color: #E63946;
}

ol {
    color: #F1FAEE;
}
/*
ol li ::before {
    content: ;
    background-color: #d8737f;
}
*/

.non_sporting {
    background-color: #45789D;  
} 

#collie {
    color: #1D3557;
    background-color: #F1FAEE;  
}

ol > li {
    font-weight: bold;
    color: orange;
}

ol {
    color: lavender;
}

ol {
    color: red;
}